header {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  max-width: 280px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  margin: auto;
  /* background-color: var(--leftBar-bg-color); */
  background: url("../img/bg-pink.png") no-repeat center/cover;
}

header img {
  width: 150px;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 50px;
}

.menuBar-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  /* background-color: coral; */
}

.menuBar-menu div {
  /* background-color: thistle; */
  font-size: var(--leftBar-menuFont-size);
  color: var(--leftBar-menuFont-color);
  margin-bottom: 20px;
}

.menuBar-menu div:hover {
  cursor: pointer;
  color: whitesmoke;
}
.menuBar-menu div:active {
  transform: scale(0.998);
}

.menuBar-contact {
  width: 100%;
  margin: 40px 0px;
  /* background-color: whitesmoke; */
}

.menuBar-contact div {
  color: var(--leftBar-contact-color);
  font-size: var(--leftBar-contactFont-size);
  font-weight: 300;
  margin-bottom: 5px;
}
