header {
  position: sticky;
  top: 16%;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white 1.6px solid;
  border-radius: 20px;
  /* padding: 0px 0px; */
  margin: auto;
  background-color: var(--leftBar-bg-color);
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 55%, pink 100%); */
}

header img {
  width: 150px;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.menuBar-menu {
  /* width: 150px; */
  display: flex;
  flex-direction: column;
  /* margin: 50px 0px; */
  /* background-color: coral; */
}

.menuBar-menu div {
  /* background-color: thistle; */
  /* text-align: center; */
  font-size: var(--leftBar-menuFont-size);
  color: var(--leftBar-menuFont-color);
  margin-bottom: 20px;
}

.menuBar-menu div:hover {
  cursor: pointer;
  color: whitesmoke;
}
.menuBar-menu div:active {
  transform: scale(0.998);
}

.menuBar-contact {
  width: auto;
  margin-top: 130px;
  /* background-color: whitesmoke; */
}

.menuBar-contact {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
.menuBar-contact a {
  margin-bottom: 10px;
  color: rgb(124, 124, 124);
}
.menuBar-contact a:hover {
  color: aliceblue;
  font-weight: bolder;
}
