@import "reset.css";
@import "variable.css";
@import "first.css";
@import "second.css";

body {
  display: flex;
  justify-content: center;
  color: rgb(95, 112, 126);
  padding-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--main-bg-color);
  padding-top: 0px;
}

.firstSection {
  width: 18%;
  transition: all 0.2s ease-in-out;
}

.secondSection {
  width: 80%;
  padding: 0px 10px;
}

.menu--transparent {
  opacity: 0;
  pointer-events: none;
}

.arrowUp {
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 40px;
  height: 40px;
  line-height: 53px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 1px rgba(45, 80, 100, 0.39);
  color: aliceblue;
  background-color: tomato;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;
}

.showing {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 875px) {
  body {
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }
  .firstSection {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  header {
    max-width: 100%;
    min-height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px;
    margin: 0px;
  }
  header img {
    width: 50px;
    height: 50px;
    margin: 10px 0px;
    border-radius: 40%;
  }
  .menuBar-menu {
    max-width: 300px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
  }
  .menuBar-menu div {
    /* background-color: thistle; */
    font-size: var(--topBar-menuFont-size);
    font-weight: bolder;
    margin-bottom: 0;
  }
  .menuBar-contact {
    display: none;
  }
  .secondSection {
    left: 0px;
    width: 100%;
    padding: 0px;
  }
  .mainContent:first-of-type {
    height: 100vh;
    margin-top: 0px;
    /* padding-top: 0px; */
  }
}

@media (max-width: 500px) {
  .menuBar-menu {
    max-width: 180px;
    font-weight: bolder;
  }
  .menuBar-menu div {
    font-size: 10px;
    font-weight: bolder;
  }
  .description {
    font-size: 3rem;
  }

  .projects__menuBox {
    min-width: 230px;
  }

  .projects__menu {
    padding: 2px 5px;
  }
  .projects__items {
    max-width: 180px;
  }

  .mainContent:last-of-type {
    padding: 20px 10px;
  }
  .skillTitle {
    margin: 10px 5px;
    font-size: 15px;
  }
  .mainContent__skillsBox li {
    font-size: 13px;
  }
}

@media (max-width: 290px) {
  header {
    justify-content: space-between;
    padding: 0px 8px;
  }
  .menuBar-menu {
    max-width: 190px;
    font-weight: bolder;
  }
  .mainSkill {
    width: 50%;
  }
  .experienceSkill {
    width: 50%;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* @media (min-width: 1281px) {} */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* @media (min-width: 1025px) and (max-width: 1280px) {} */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* @media (min-width: 768px) and (max-width: 1024px) {} */

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {} */

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* @media (min-width: 481px) and (max-width: 767px) {} */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/* @media (min-width: 320px) and (max-width: 480px) {} */
