/* main {
  width: 100%;
} */

.mainContent {
  min-height: 350px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: var(--mainContent-bg-color);
}

.mainContent__title {
  font-size: var(--mainContent-titleFont-size);
  font-weight: bold;
  color: var(--mainContent-font-color);
  text-align: center;
  margin-bottom: 20px;
}

/* ABOUTME BOX */
.mainContent:first-of-type {
  height: 90vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: var(--mainContent-greetingFont-size);
  font-weight: bolder;
  text-align: center;
  color: var(--mainContent-font-color);
  animation: focus-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.description:last-of-type {
  width: 80%;
  font-size: var(--mainContent-lastDescriptionFont-size);
  color: var(--mainContent-lastDescriptionFont-color);
  font-weight: 400;
  margin: 30px 57.08px 0px 57.08px;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
  /* background-color: skyblue; */
}

/* PROJECTS BOX */
.mainContent:nth-last-of-type(2) {
  min-height: 450px;
}

.mainContent__projectsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: thistle; */
}

.projects__menuBox {
  display: flex;
  justify-content: space-evenly;
  min-width: 500px;
  /* background-color: teal; */
}
.projects__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mainContent-font-color);
  border-radius: 5px;
  padding: 5px 50px;
  color: var(--mainContent-font-color);
  font-weight: 600;
  font-size: var(--mainContent-menuFont-size);
  margin-top: 20px;
  cursor: pointer;
}

.projects__menu i {
  margin: 3px 0px;
}

.projects__menu:hover {
  background-color: var(--leftBar-bg-color);
}

.projects__itemBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
}

.projects__items {
  width: 300px;
  /* height: auto; */
  margin: 5px 5px 5px 5px;
}

.projects__items img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.6;
  transition: 0.7s;
}

.projects__items img:hover {
  cursor: pointer;
  opacity: 1;
}

/* SKILLS BOX */
.mainContent:last-of-type {
  padding: 20px 50px;
  margin-bottom: 0px;
  /* text-align: center; */
}

.mainContent__skillsBox {
  display: flex;
  max-width: 800px;
  height: 300px;
  margin: auto;
}

.mainSkill {
  width: 60%;
  height: 100%;
  background-color: whitesmoke;
}

.experienceSkill {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: wheat;
}

.trySkill {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40%;
  background-color: thistle;
}
.skillTitle {
  font-size: var(--mainContent-skillFont-size);
  font-weight: bold;
  border-bottom: rgba(67, 68, 68, 0.212) solid 1px;
  margin: 10px 20px;
  padding-bottom: 5px;
}
.mainContent__skillsBox ul {
  padding-left: 25px;
}
.mainContent__skillsBox li {
  font-size: var(--mainContent-skillFont-size);
  text-transform: uppercase;
  list-style: disc;
  margin-bottom: 5px;
  text-align: start;
}

footer {
  width: 100%;
  /* position: absolute; */
  /* bottom: -100px; */
  /* margin-right: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--footer-font-color);
  font-size: var(--footer-font-size);
  font-weight: 400;
  border-top: 0.5px var(--footer-upperBorder-color) solid;
  background-color: var(--footer-bg-color);
}

.footerTitle {
  margin: 35px 0px;
  font-size: var(--footer-titleFont-size);
  font-weight: bold;
}
/* footer div {
  margin-bottom: 5px;
} */

footer div:last-child {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* animation */

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
