.mainContent {
  /* height: 100vh; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-top: 20px;
  /* margin-bottom: 25px; */
}

.mainContent__title {
  font-size: var(--mainContent-titleFont-size);
  font-weight: bold;
  color: var(--mainContent-font-color);
  text-align: center;
  margin-bottom: 20px;
}

/* ABOUTME BOX */
.mainContent:first-of-type {
  height: 100vh;
  margin-top: 10px;
}
.mainContent__aboutMeBox {
  /* width: 85%; */
  padding: 100px 10px;
}
.description {
  font-size: var(--mainContent-greetingFont-size);
  font-weight: bolder;
  color: var(--mainContent-font-color);
  animation: focus-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.description:first-of-type {
  font-size: 2rem;
}

.description:last-of-type {
  font-size: var(--mainContent-lastDescriptionFont-size);
  color: var(--mainContent-lastDescriptionFont-color);
  font-weight: 400;
  /* line-height: 30px; */
  margin-top: 30px;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}
.description:last-of-type div {
  margin-bottom: 10px;
}

/* PROJECTS BOX */
.mainContent:nth-last-of-type(2) {
  padding: 150px 0px;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.mainContent__projectsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__menuBox {
  display: flex;
  justify-content: space-evenly;
  min-width: 500px;
  /* background-color: teal; */
}
.projects__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mainContent-font-color);
  border-radius: 5px;
  padding: 5px 50px;
  color: var(--mainContent-font-color);
  font-weight: 600;
  font-size: var(--mainContent-menuFont-size);
  margin-top: 20px;
  cursor: pointer;
  margin-right: 3px;
}

.projects__menu i {
  margin: 3px 0px;
}

.projects__menu:hover {
  background-color: var(--leftBar-bg-color);
}
.projects__menu:active {
  background-color: var(--leftBar-bg-color);
  transform: scale(0.98);
}

.projects__itemBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
  transition: 1s ease-out all;
}

.projects__items {
  position: relative;
  width: 300px;
  /* height: auto; */
  margin: 5px 5px 5px 5px;
}
.projects__description {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  color: white;
  border-radius: 10px;
  padding: 0px 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.774);
  transition: opacity ease-in-out 0.2s;
}
.projects__description p {
  line-height: 25px;
}
.projects__description h4 {
  font-size: 1.2rem;
  margin: 0px;
}
.projects__description h4:last-of-type {
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 40px;
}

.projects__items img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 1;
  transition: 0.7s;
}

/* .projects__items img:hover {
  cursor: pointer;
  opacity: 0;
} */
.projects__description:hover {
  opacity: 0;
  cursor: pointer;
}
.invisible {
  display: none;
}
.anima {
  opacity: 0;
  transform: scale(0.96);
}

/* SKILLS BOX */
.mainContent:last-of-type {
  height: 75vh;
  justify-content: flex-start;
  padding-top: 150px;
  /* margin: 50px 0px; */
}

.mainContent__skillsBox {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  /* width: 100%; */
  height: 450px;
  /* margin: 0px; */
}

.trySkill {
  width: 40%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.226);
}

.mainSkill {
  position: relative;
  width: 55%;
  height: 100%;
  background-color: rgba(206, 206, 209, 0.116);
}

.experienceSkill {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background-color: rgba(214, 213, 218, 0.623);
}
.skillTitle {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(226 231 235);
  border-bottom: rgba(255, 255, 255, 0.123) solid 1px;
  margin: 10px 20px;
  padding-bottom: 5px;
}
.mainContent__skillsBox ul {
  padding-left: 25px;
}
.mainContent__skillsBox li {
  font-size: 1rem;
  color: rgb(226 231 235);
  line-height: 25px;
  list-style: none;
  margin-bottom: 5px;
  text-align: start;
}

footer {
  width: 100%;
  /* position: absolute; */
  /* bottom: -100px; */
  /* margin-right: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--footer-font-color);
  font-size: var(--footer-font-size);
  font-weight: 400;
  border-top: 0.5px var(--footer-font-color) solid;
  /* background-color: var(--footer-bg-color); */
}

#footerContact {
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* border-bottom: black solid 1px; */
  margin-top: 20px;
}
#footerContact a {
  color: var(--footer-font-color);
  font-size: 20px;
  margin: 0px 5px;
}

/* footer div:last-child {
  margin-top: 15px;
  margin-bottom: 20px;
} */

#footerCopyRight {
  padding: 30px 0px;
  font-size: 0.8rem;
  /* border-top: rgb(82, 82, 82) 1px solid; */
}

/* animation */

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes enterFromleft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
