/* Theme color */

:root {
  /* theme colors */
  --main-pink: pink;
  --light-pink: rgb(228, 179, 185);
  --dark-pink: rgb(202, 79, 100);
  --main-gray: gray;
  --main-white: rgb(228, 227, 227);
  --main-black: rgb(22, 22, 22);

  /* font colors */
  --main-font-color: whitesmoke;
  --darkest-font-color: rgb(85, 85, 85);
  --light-font-color: rgb(117, 118, 124);
  --menu-font-color: rgb(107, 105, 105);

  /* animation */

  /* bluishgray and white */
  --color-subgray: #b4b8ab;
  --color-main: #153243;
  --color-submain: #284b63;
  --color-sublightgray: #f4f9e9;
  --color-sublightwhite: #eef0eb;
}
