/* Theme color */

:root {
  --darkest-font-color: rgb(85, 85, 85);
  --light-font-color: rgb(117, 118, 124);

  /* ---Background Color--- */
  --main-bg-color: whitesmoke;

  /* ------font size------- */
  --leftBar-menuFont-size: 20px;
  --leftBar-contactFont-size: 0.813em;
  --mainContent-titleFont-size: xx-large;
  --mainContent-descriptionFont-size: 10px;
  --mainContent-menuFont-size: 0.1rem;

  /* --first section color--*/
  --leftBar-bg-color: rgba(187, 187, 187, 0.171);
  --leftBar-menuFont-color: rgb(107, 105, 105);
  --leftBar-contact-color: rgb(117, 118, 124);
  /* --------------- */
  --topBar-bg-color: whitesmoke;
  --topBar-font-color: pink;

  /* --second section-- */
  --mainContent-bg-color: #284b63;
  --mainContent-font-color: whitesmoke;

  /* ---------footer--------- */
  --footer-bg-color: rgba(112, 112, 112, 0.171);
  --footer-font-color: rgba(0, 0, 0, 0.281);
  --footer-upperBorder-color: rgba(0, 0, 0, 0.158);

  /* bluishgray and white */
  --color-subgray: #b4b8ab;
  --color-main: #153243;
  --color-submain: #284b63;
  --color-sublightgray: #f4f9e9;
  --color-sublightwhite: #eef0eb;
}
